/*========================

Universal Styling

=========================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Palatino";
  src: url(../fonts/palatino.ttf) format("truetype");
}

@font-face {
  font-family: "Gentona Light";
  src: url(../fonts/gentona-light.ttf) format("truetype");
}

header {
    background-color: #00529b;
    padding: 20px 10px 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
}

header nav li {
    display: inline-block;
    margin: 0 20px;
    font-family: "Gentona Light", sans-serif;
    font-size: 20px;
}

.top-logo,
nav {
  display: inline-block;
}

nav a:hover{
  color: #f2a06a;
  text-decoration: underline;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-family: "Gentona Light", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

main p {
  font-family: "Palatino", serif;
  font-size: 18px;
  line-height: 1.4em;
  padding: 20px 0;
}

.welcome {
  padding: 30px 0;
}

span {
  font-weight: bold;
  color: #ed7d31;
  font-family: "Gentona Light", sans-serif;
  text-transform: uppercase;
}

/*========================

Book Image Styling

=========================*/

.book-container {
  position: relative;
  width: 1000px;
}

.book-text {
    position: absolute;
    top:50%;
    left: 60%;
}

.book-text h1 {
  font-family: "Gentona Light", sans-serif;
  font-weight: bold;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 10px;
  font-size: 32px;
  width: 500px;
  margin: 0 auto;

}

/*========================

Box Section Styling

=========================*/

.left-side {
  width: 40%;
  padding: 30px 0;
}

.right-side {
  width: 50%
}

.left-side,
.right-side {
  display: inline-block;
}

.lesson-structure .left-side {
  background-color: #709ad9;
  color: white;
  text-align: center;
  margin: 20px;
}

.instructional-activities .left-side {
  background-color: #2b57a0;
  color: white;
  text-align: center;
  margin: 20px;
}

.behavior .left-side {
  background-color: #1b3664;
  color: white;
  text-align: center;
  margin: 20px;
}

.tech-tools .left-side {
  background-color: #eb6e1a;
  color: white;
  text-align: center;
  margin: 20px;
}

.tutorials .left-side {
  background-color: #ed7d31;
  color: white;
  text-align: center;
  margin: 20px;
}

.webinar .left-side {
  background-color: #f2a06a;
  color: white;
  text-align: center;
  margin: 20px 20px 60px 20px;
}

.boxes a {
  color: white;
  text-decoration: none;
}

.boxes a:hover {
  color: #d1d1d1;
}

.right-side a{
  color: #2b57a0;
}

.right-side a:hover {
  color: #ed7d31;
}


/*========================

Bottom Section Styling

=========================*/

.bottom {
  max-width: 800px;
  margin: 0 auto;
}
.bottom li {
  color: #f37021;
  display: block;
  text-decoration: none;
}


.make-gift {
  font-family: "Palatino", serif;
  color: #f37021;
  padding: 20px 0 0 0;
}

.make-gift a{
  color: #2b57a0;
}

.make-gift a:hover {
  color: #709ad9;
}


.book-logo {
  animation: spin 3s linear infinite;
  float: left;
}

.disclaimer p{
  font-family: "Gentona Light", sans-serif;
  font-size: 12px;
  color: #2b57a0;
  border: 2px solid #2b57a0;
  padding: 5px;
  margin: 50px auto;
}

/*========================

Animation Styling

=========================*/


@keyframes spin {
  0% {
    transform:rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
